<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="scss/style.scss")
		link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css', rel='stylesheet', type='text/css')
		script(defer src="https://use.fontawesome.com/991e61a5a1.js")
		script(defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js")
		script(defer src="js/main.js")
		title Change ME!

	body
		header
			.wrap.flex
				h3 Yoga
				nav
					ul.navMain
						li item1
						li item2
						li item3
						li item4
						i.fas.fa-paper-plane
						i.fas.fa-shopping-cart
						i.fas.fa-user

		.hero
			.wrap.flex
				.hero-text
					h1 #yOGA
					p Let your body speak to your mind.
					button.btn() Join Today
				.hero-img
					img(src="https://picsum.photos/600/600?random=0", alt="Yoga Hero")
			svg(viewBox='0 0 500 150' )
				path(d='M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z', style='stroke: none;')

		section.about
			.wrap
				h2.center About Us
				.about-box.flex
					img(src="https://picsum.photos/400/500?random=1", alt="Body Yoga")
					.about-text
						h3 Body Yoga
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia ea repellat nobis voluptas animi consequatur similique expedita recusandae quia! Officiis adipisci aut nisi quibusdam, excepturi veniam a! Ut, voluptate praesentium.

		main.features
			.wrap
				.grid
					-let a = 6
					while a > 0
						.cell
							.features-icon
								img(src="../static/images/feature"+a+".svg" alt="yoga pose"+a)
							h3 Some temp header needs to be long.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit alias ea eius sed. Voluptatibus, inventore molestias nam necessitatibus sequi id hic explicabo aperiam nobis. Cumque veritatis rem nulla distinctio vero.
							-a--

		section.classes
			.wrap
				h2 Advanced Classes
				.flex
					-let b = 3
					while b > 0
						.card
							img(src="https://picsum.photos/300/175?random="+b, alt="")
							h4 a class
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, tempora minima, exercitationem placeat enim distinctio, repellendus eum rerum mollitia quo blanditiis dolorem debitis nesciunt. Nulla repellat ad sint possimus odio?
							.price
								h4.span 300$
								button.btn Buy Now
							-b--

		section.meetings
			.wrap
				h2 Group Meetings
				.flex
					img(src="https://picsum.photos/400/600?random=3", alt="meetings")
					.meetings-text
						h3 Join us for meetings
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quia sed necessitatibus, ullam provident laboriosam a voluptatem mollitia maxime quibusdam dolore voluptatum sit nemo perspiciatis fugit odit, cum quisquam aspernatur?
						h4.span 800$
						button.btn Sign Up

		section.tours
			.wrap
				h2 Yoga - Tours
				.flex
					.tours-text
						h3 Tour to Bali
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore autem velit ducimus, eaque commodi in, cupiditate minima atque veritatis alias nesciunt nobis minus corrupti recusandae possimus nihil veniam accusantium quos!
						h4.span 1500$
						button.btn Book
					img(src="https://picsum.photos/450/350?random=8")

		.footer
			footer.wrap.flex
				h3 some copyright stuffs 2020
				h3 more stuffs

