//- //< Sassy settings
$minWidthLg: 1199px;
$minWidthMed: 800px;
$minWidthSml: 600px;
//- //>Base settings
:root {
	--clr: #f3e4ff;
	--clr-dark: #deaaff;
	--clr-secondary: #e4feff;
	--clr-white: white;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	height: 100%;
	min-height: 100%;
	margin: 0;
	background: var(--clr-white);
}

a,
.btn {
	text-decoration: none;
	cursor: pointer;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

.span {
	display: inline-block;
}

.wrap {
	max-width: 1199px;
	margin: 0 auto;
	@media (max-width: $minWidthLg) {
		padding: 0 1.5rem;
	}
}

.center {
	text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
}

.flex {
	display: flex;
	justify-content: space-between;
	@media (max-width: $minWidthMed) {
		flex-wrap: wrap;
	}
}

header {
	background: var(--clr);
}

.navMain {
	@media (max-width: $minWidthSml) {
		// padding: 1rem;
	}
	li {
		padding: 1em;
		display: inline-block;
	}
}

.hero {
	position: relative;
	min-height: 700px;
	padding-top: 3rem;
	background: var(--clr);
	z-index: 0;
	svg {
		position: absolute;
		left: 0;
		bottom: -5px;
		background: white;
		z-index: -1;
		path {
			fill: var(--clr);
		}
	}

	&-text {
		width: 40%;
		align-self: center;
		h1 {
			color: var(--clr-dark);
			font-size: 5rem;
		}
		p {
			position: relative;
			max-width: 20ch;
			padding-left: 15px;
			font-size: 2rem;
			border-left: 4px solid var(--clr-dark);
		}
	}

	&-img {
		border: 15px solid var(--clr-white);
		border-radius: 600px;
		transform: translateY(50px);
		@media (max-width: $minWidthMed) {
			// transform: translateY(50px);
		}
		img {
			border-radius: 600px;
		}
	}
} //< kill the hero

section,
main {
	margin: 5rem 0;
	overflow: hidden;
}

.about {
	.flex {
		justify-content: start;
	}

	&-box {
		background: var(--clr);
		margin-top: 100px;
		border-radius: 0 20px 0 20px;
		img {
			margin-left: 50px;
			border: 15px solid var(--clr-white);
			border-radius: 20px;
			transform: translateY(-70px);
		}
	}

	&-text {
		max-width: 70ch;
		padding: 3rem;
		margin-top: -100px;
		align-self: center;
	}
}

.features {
	.cell {
		padding: 2rem;
		p {
			// max-width: 60ch;
			font-size: large;
		}
	}

	&-icon {
		width: 100px;
		height: 100px;
		margin: 0 auto;
		display: grid;
		place-items: center;
		background: var(--clr-secondary);
		border-radius: 99px;
	}
}

.classes {
	.card {
		margin: 50px 0.5rem 0 0.5rem;
		padding: 1rem;
		text-align: center;
		background: var(--clr);
		border-radius: 0 10px 0 10px;
		img {
			margin-bottom: -50px;
			border: 10px solid var(--clr-white);
			border-radius: 20px 0 15px 0;
			transform: translateY(-50px);
		}
	}
}

.meetings {
	&-img {
		margin: 50px 50px 0 0;
		background: var(--clr-secondary);
		border-radius: 5px 0 5px 20px;
		img {
			transform: translate(50px, -50px);
			border: 10px solid var(--clr-white);
			border-radius: 10px 30px 10px 20px;
		}
	}
	&-text {
		max-width: 40%;
		align-self: center;
	}
}

.tours {
	&-img {
		margin: 0 0 50px 50px;
		background: var(--clr);
		border-radius: 5px 0 5px 20px;
		img {
			transform: translate(-50px, 50px);
			border: 10px solid var(--clr-white);
			border-radius: 10px 30px 10px 20px;
		}
	}

	&-text {
		max-width: 40%;
		align-self: center;
	}
}
